@font-face {
    font-family: 'Sangha Kali';
    src: url('SanghaKali-Regular.eot');
    src: local('Sangha Kali Regular'), local('SanghaKali-Regular'),
        url('SanghaKali-Regular.eot?#iefix') format('embedded-opentype'),
        url('SanghaKali-Regular.woff2') format('woff2'),
        url('SanghaKali-Regular.woff') format('woff'),
        url('SanghaKali-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

